$fc: rgb(236, 157, 157);
$sc: #3c4e8f;
$tc: #07123A;

@mixin test{
    border: 2px solid red;
}
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    overflow: hidden;
}
body{
    background-color: $tc;
}
.logo{
    max-width: 10vw;
    height: auto;
}

.all:hover{
    animation: glow 2.5s linear infinite;
}

@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.name{
    color: $sc;
    font-size: 2.5em;
    text-shadow: 5px 5px 4px white;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    @include flex;
    cursor: pointer;
}
.name::selection{
    color: white;
    text-shadow: 5px 5px 4px black;
}
//align-self
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
