// SECTION LOGIN
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}
.formul{
    height: 50%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100%;
    padding: 0 40px ;
    background-color: #222222;
    text-align: center;
    border-radius: 20px;
}
.form h2{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 3vh;
}
.form input[type="text"], .form input[type="password"], .form input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}
.form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="email"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.form input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}
.form input[type="submit"]:hover{
    background-color: #2ecc71;
}
//MESSAGE D'ERREUR LOG == 1
.message-erreur{
    color: #d15d5d;
    background-color: #000000;
    width: 380px;
    font-size: 1.7em;
    opacity: .5;
    text-align: center;
    z-index: 10;
}
a{
    text-decoration: none;
    color: white;
}
.redirection{
    text-align: right;
    margin-top: 2vh;
    font-size: 1.5em;
}