$ttl: #395365;
$desc: #c0a3f5;
$mix: #6d431f;
$mixt: #f5f3ba;
$selec: #112580;

@mixin test{
    border: 2px solid red;
}
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
}
/*Left*/
#left{
    background-color: #122441; 
    width: 50%;
    height: 100vh;
    padding: 10px;
    border: 10px solid #0c192c;
}
.code-block{
    display: block;
}
.code{
    text-align: left;
    font-size: 1.3em;
    letter-spacing: 2px;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    counter-reset: a;
}
.code-line::before{
    counter-increment: a +1;
    content: counter(a) "";
    opacity: .3;
    color: grey;
    width: 2ch;
    text-align: end;
}
.code-line{
    display: flex;
    align-content: center;
    justify-content: left;
    margin-bottom: -7vh;
}
.code-point{
    opacity: .5;
    color: grey;
}
.code-name{
   color: #6d431f;
}
.code-title{
    color: $ttl;
    font-weight: 500;
}

.code-ap{
    color: rgba(255, 255, 255, 0.589)
}
.code-desc{
    color: $desc;
}
.code-desc-lien{
    color: rgb(77, 123, 223);
    text-decoration: none;
}
.acc{
    color: rgba(255, 255, 255, 0.637);
}
.code-mixtext{
    color: $mixt;
}
.code-mix{
    color: $mix;
}
code.title::selection{
    color: $selec;
}
/*Right*/
#right{
    width: 50%;
    height: 100vh;
}
h1{
    color: #395365;
}
.diag-box, .diag-box2{
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
} 
.diagram{
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.diagram2{
    stroke: #4CC790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress2 1s ease-out forwards;
}
 
@keyframes progress{
    0%{
      stroke-dasharray: 0 100;
    }
}
@keyframes progress2{
    0%{
      stroke-dasharray: 0 100;
    }
}

@media screen and (max-width: 1060px){
    body{
        display: block;
    }
    #left{
        width: inherit;
        height: inherit;
        width: 20vw;
    }
    #right{
        width: inherit;
        height: inherit;
    }
}
@media screen and (min-width: 1060px) and (max-width: 1700px){
    .code-line{
        font-size: .7em;
    }
}